<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
    <head>
        <title>Not Found Page | PT. IGS</title>
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div class="wrap">
            <center><h1>PT. IGS</h1></center>
            <div class="banner">
                <img src="images/banner.png" alt="" />
            </div>
            <div class="page">
                <h2><b>Oops... Something Went Wrong in Your Search</b></h2>
            </div>
        </div>
    </body>
</html>

