<aside>
    <div id="sidebar"  class="nav-collapse ">
        <!-- sidebar menu start-->
        <ul class="sidebar-menu" id="nav-accordion">

            <p class="centered"><a href="profile.html"><img src="assets/img/go-park.png" class="img-circle" width="60"></a></p>
            <h5 class="centered">PT. IGS</h5>

            <li class="mt">
                <a href="index.html">
                    <i class="fa fa-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li class="mt">
                <a href="index.html">
                    <i class="fa fa-map-marker"></i>
                    <span>Tempat</span>
                </a>
            </li>
        </ul>
        <!-- sidebar menu end-->
    </div>
</aside>